.cli-window{
    height: 100%;
    width: 100%;
    padding-bottom: 2rem;
    background-color: #222222;
    div[name="react-console-emulator"]{
        height: 100%;
        background-color: transparent !important;
    }
    *::-webkit-scrollbar{
        display: none;
    }
}