.resume-window{
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
  display:flex;
}

/* pdf */
.resume-window embed{
  width:100%;
  height:100%;
  border:none;
  pointer-events:auto;
}

/* hover detector layer (important) */
.resume-hover-fix{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:140px;
  z-index:10;
  background:transparent;
}
