.Window{
    // width: 56rem;
    // height: 25rem;
    height: 100%;
    background-color: rgb(27, 26, 26);
    border-radius: 0.4rem;
    // display: flex;
    // gap: 0.2rem;
    overflow: hidden;
    color: white;
    // padding: 1rem;
.main-content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

*::-webkit-scrollbar{
    height: 8px;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(168,168,168,0.4);
    border-radius: 4px;
}
.nav{
    padding-inline: 0.2rem;
    padding-block: 0.1rem;
    display: flex;
    gap: 0.8rem;
    width: 100%;
    height: 1.4rem;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid rgb(74, 73, 73);
    .dots{
        display: flex;
        gap: 0.1rem;
        .dot{
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
    }
    .red{
        background-color: red;
        color: red;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .red:hover{
        color: black;
        cursor:context-menu;
    }
    .green{
        background-color: green;
        color: green;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .green:hover{
        cursor:context-menu;
    }
    .yellow{
        background-color: yellow;
        color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .yellow:hover{
        color: black;
        cursor:context-menu;
    }
    }
    .title{
        color: rgb(153, 151, 151);
    }
}
.main-content{
    padding-inline: 0.4rem;
}
}