*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  width: 100%;
}
.main_folder{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.main_folder{
  background-image: url("../doc_icons/mac-wallpaper.jpg");
  background-position: center;
  background-size: cover;
}