.boot-screen{
  position:fixed;
  inset:0;
  background:black;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:999999;
  animation:fadeOut .8s ease 4.4s forwards;
}

.hello-text{
  color:white;
  font-size:80px;
  font-weight:500;
  letter-spacing:2px;
  animation:pop .6s ease;
}

@keyframes pop{
  0%{transform:scale(.6);opacity:0;}
  100%{transform:scale(1);opacity:1;}
}

@keyframes fadeOut{
  to{opacity:0;visibility:hidden;}
}
