*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(66, 66, 66, 0.266);
    font-size: 0.7rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-inline: 0.4rem;
    .left{
        display: flex;
        gap: 0.8rem;
        align-items: center;
        justify-content: center;
        padding-inline: 0.2rem;
    }
    .apple-icon{
       .apple{
        width: 1.1rem;
       }
    }
    .right{
        display: flex;
        gap: 0.7rem;
        align-items: center;
        justify-content: center;
    }
}